
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post Page</title>
  </head>
  <body>
    <h1>Create new post</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="new_title">Title:</label><br>
      <input type="text" maxlength=100 name="new_title" class="form-control" required/><br>

      <label for="new_body">Body:</label><br>
      <textarea name="new_body" class="form-control" required style="width:300px;height:300px;"></textarea><br>
      {% csrf_token %}
      <input type="submit" value="Create Post">
    </form>
  </body>
</html>
{% endblock %}

<!-- This is the template for creating posts. -->
