<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{user.username}}'s Blog</title>
      <link rel="stylesheet" href="{% static 'css/blog_style.css' %}">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
      
</head>
<body>
      <nav class = "navbar navbar-expand-md navbar-light bg-light sticky-top">
				<div class = "container-fluid">
					<a class = "navbar-brand"><img src = "https://storage.googleapis.com/cs48project/static/img/shakville_logo.png" alt=""></a>
					<button class = "navbar-toggler" type = "button" data-toggle = "collapse" 
					data-target = "#navbarResponsive">
						<span class = "navbar-toggler-icon"></span>
					</button>
					<div class = "collapse navbar-collapse" id = "navbarResponsive">
						<ul class = "navbar-nav ml-auto">
							{% if login_count == 1 %}	
							<li class = "nav-item active">
								<a class = "nav-link" href="{% url 'blog_page' %}">My profile</a>    
							</li>	
							{% else %}
							<li class = "nav-item active">
								<a class = "nav-link" href="{% url 'base' %}">Home</a>    
							</li>
                                          {% endif %}	
                                          <li class = "nav-item active">
                                                <a class = "nav-link" href="{% url 'search' %}">Go to Search</a>    
                                          </li>					
						</ul>
					</div>
				</div>
      </nav>                 
      
      <header>
            <h1>{{user.blog.blogTitle}}</h1>
      </header>
      <div class="wall">
          {% for post in posts %}
          <div class="wall-item">
            <h2><a href="/post_view/{{post.id}}">{{post.postTitle}}</a></h2>
            <p>Post Body: {{post.postBody|truncatechars:25}}</p>
            <p># of likes:{{post.likes}}  | # of dislikes{{post.dislikes}}</p>
            {% if login_count == 1%}
            <div>
                  <form method="POST">
                        {% csrf_token %}
                        <button type="submit" name="likebutton" value="{{post.id}}" class="btn">Like</button>
                  </form>
            </div>

            <form method="POST">
              {% csrf_token %}
              <button type="submit" name="dislikebutton" value="{{post.id}}" class="btn">Dislike</button>
            </form> 
            {% endif %}
          </div>
          {% endfor %}               
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
      <script src="{% static 'js/jaliswall.js' %}"></script>
      <script type="text/javascript">

            $('.wall').jaliswall({
                  item : '.wall-item',
                  columnClass : '.wall-column'
            });

      </script>
</body>
</html>